/* ----------------------------------GLOBAL-------------------------------- */
/* body {
  margin: 50px;
} */

/* -----------------------------HEADER---------------------------------------- */

header {
  background-color: rgb(88, 85, 85);
  padding-top: 10px;
  padding-bottom: 10px;
}

#header-contents {
  display: flex;
  width: 100%;
  margin-left: 80px;
}

nav {
  display: flex;
  width: 100%;
  align-items: center;
  /* margin-left: 20px; */
  justify-content: flex-start;
}

a {
  /* width: 100%; */
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
}

/* --------------------------BODY------------------------------- */

/* body {
  width: 100%;
  justify-content: center;
} */

/* main {
  display: flex;
  width: 960px;
  justify-content: center;
} */

/* --------------------------HERO IMAGE------------------------------- */

#hero-image {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

/* --------------------3 IMAGES---------------------------------------- */

#three-images {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#image-triplets {
  display: flex;
  width: 960px;
  justify-content: space-between;
}

/* ------------------------FLOATED IMAGE AND <P>--------------------------- */

#section3 {
  display: flex;
  justify-content: center;
  /* margin-top: 30px; */
  /* width: 960px; */
  /* height: 400px; */

}

#image-and-article {
  display: flex;
  width: 960px;
  justify-content: space-between;

}

#p-image {
  margin-top: 30px;
  width: 480px;
  height: 400px;
}

article {
  margin-top: 10px;
  width: 450px;
}

p {
  height: 310px;
  overflow: auto;
}

button {
  color: white;
  background-color: black;
  width: 140px;
  height: 35px;
}

button:hover {
  background-color: gray;
  transition: 350ms;
}


/* -----------------------------FOOTER------------------------------------ */

footer {
  margin-top: 30px;
  background-color: rgb(88, 85, 85);
  height: 150px;
}